@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,500,700');

.wrapper {
	font-family: 'Roboto', sans-serif;
	margin: auto;
	margin-top: 10vh;
	margin-bottom: 8vh;
    width: 50vw;
}

#img-test{
	background-image: url("img/deutz.jpg");
}

h1{
	font-size: 12em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	margin: 0;
	color: #666666;
}

p{
	font-family: 'Roboto', sans-serif;
	line-height: 1.8em;
	font-size: 1.7em;
	color: #666666;
	font-weight: 500;
	text-align: justify;
}

h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10em;
	font-weight: 700;
	margin: 0;
	color: #666666;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2em;
	letter-spacing: 0.3em;
	font-weight: 700;
	margin: 0;
	color: #D49C00;
}

h4{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.2em;
	font-weight: 700;
	margin: 0;
	padding-bottom: 1em;
	color: #666666;
}

h5{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.8em;
	font-weight: 700;
	margin: 0;
	text-align: center;
	padding-top: 1.5em;
	color: #666666;
}

h6{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: 500;
	margin: 0;
	color: #666666;
	opacity: 1;
}

.project-link{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10em;
	font-weight: 700;
	margin: 0;
	color: #666666;
}

.hero{
	margin-bottom: 12vh;
}

a {
	text-decoration: none;
	color: #666666;
	transition: 1s;
}

a:hover{
	color: black;
}

.project {
	margin-top: 10vh;
}


.check-button {
    background-color: #666666; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    border-radius: 100px;
    width: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.check-button:hover {
	background-color: black;
	color: white;
}

.clue {
	font-family: 'Roboto', sans-serif;
	padding: 3em;
	margin-top: 10vh;
	margin-bottom: 10vh;
	line-height: 2em;
	font-size: 1.3em;
}

.clue-blue{
	background-color: #DFFDFF;
}

.clue-gray{
	background-color: #D7D9D7;
}

.right{
	text-align: right;
}

.blue{
	color: #58A4B0;
}

.yellow{
	color: #D49C00;
}

.pink{
	color: #FAB3A9;
}

.orange{
	color: #F15A24;
}

.beige{
	color: #C6AD94;
}

.green{
	color: #05994F;
}


.clue-blue{
	background-color: rgba(88,164,176,0.2);
}

.clue-yellow{
	background-color: rgba(212,156,0,0.2);
}

.clue-pink{
	background-color: rgba(250,179,169,0.2);
}

.clue-orange{
	background-color: rgba(241,90,36,0.2);
}

.clue-beige{
	background-color: rgba(198,173,148,0.2);
}

.clue-green{
	background-color: rgba(5,153,79,0.2);
}


.clue-lightblue{
background-color: rgba(88,164,176,0.1);
}

.clue-lightyellow{
background-color: rgba(212,156,0,0.1);
}

.clue-lightpink{
background-color: rgba(250,179,169,0.1);
}

.clue-lightorange{
background-color: rgba(241,90,36,0.1);
}

.clue-lightbeige{
background-color: rgba(198,173,148,0.1);
}

.clue-lightgreen{
background-color: rgba(5,153,79,0.1);
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    margin-bottom: 2em;
}

iframe{
	margin-bottom: 2vh;
}

@media only screen and (max-width: 800px) {
	    h1{

	}

	p{
		line-height: 1.8em;
		font-size: 1.4em;
	}

	h2{
		font-size: 2.2em;
	}

	h6{
		font-size: 1.4em;
	}

	.wrapper {
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
    width: 85vw;
	}

	svg{
		width:85vw;
	}
}